/* Nebula */
@import url("nix-colors.css");
@import "Nebula/Nebula.css";

#main-window :not(#tabbrowser-tabs):not(#tabbrowser-tabs *):not(#sidebar-box):not(#sidebar-box *):not(menupopup):not(menupopup *):not(.panel-arrowcontent):not(.panel-arrowcontent *) {
  backdrop-filter: none !important;
  -moz-backdrop-filter: none !important;
  mix-blend-mode: normal !important;
}

#main-window :not(#tabbrowser-tabs):not(#tabbrowser-tabs *):not(#sidebar-box):not(#sidebar-box *):not(menupopup):not(menupopup *)::before,
#main-window :not(#tabbrowser-tabs):not(#tabbrowser-tabs *):not(#sidebar-box):not(#sidebar-box *):not(menupopup):not(menupopup *)::after {
  backdrop-filter: none !important;
  -moz-backdrop-filter: none !important;
  opacity: 0 !important;
}

#main-window :not(#tabbrowser-tabs):not(#tabbrowser-tabs *):not(#sidebar-box):not(#sidebar-box *):not(menupopup):not(menupopup *):not(.panel-arrowcontent):not(.panel-arrowcontent *) {
  opacity: 1 !important;
}

#zen-main-app-wrapper {
  background: var(--nix-background) !important;
}
