/* Nebula */
@import "Nebula/Nebula-content.css";

/* Add additional CSS below */


/* @-moz-document url-prefix("about:"), url-prefix("chrome:"), url-prefix("moz-extension:"), url-prefix("http"), url-prefix("https") { */
/*   html, body, * { */
/*     background: transparent !important; */
/*     background-color: transparent !important; */
/*     background-image: none !important; */
/*     box-shadow: none !important; */
/*     filter: none !important; */
/*     backdrop-filter: none !important; */
/*   } */
/*   *::before, *::after { */
/*     background: transparent !important; */
/*     opacity: 0 !important; */
/*   } */
/* } */


